@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;800&display=swap');

* {box-sizing: border-box;}

html, body {margin: 0; padding: 0;}

body {
  background-color: #202632;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 600px) {
  .card {
    max-width: 350px;
    padding: 15px 10px;
  }

  #dt-divider {
    max-width: 275px;
  }
}

.card {
  background-color: hsl(217, 19%, 24%);
  padding: 20px;
  text-align: center;
  border-radius: 15px;
  width: 525px;
}

.adviceNum {
  font-family: 'Manrope', sans-serif;
  letter-spacing: 3px;
  font-weight: 200;
  font-size: 13px;
  color: hsl(150, 100%, 66%);
}

.adviceText {
  font-family: 'Manrope', sans-serif;
  color: white;
  font-weight: 800;
  font-size: 28px;
}

.btn-contain {
  display: flex;
  width: 100%;
  justify-content: center;
}

#dt-divider {
  padding-bottom: 50px;
}

#btn {
  position: absolute;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(150, 100%, 66%);
}

#btn:hover {
  cursor: pointer;
  box-shadow: 0 0 17px hsl(150, 100%, 66%);
}

.attribution { font-size: 11px; text-align: center; color: white; }
.attribution a { color: hsl(228, 45%, 44%); }
